// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-carousel/dist/css/bulma-carousel.sass";
// Start main styles

@import url('https://fonts.googleapis.com/css?family=Montserrat');

//theme
$rs-badge: #A9BCD0;
$rs-dark: #4F6D7A;
$rs-gray: #EAEAEA;
$rs-logo-color: #F7F7F7;
$rs-lightblue: #C0D6DF;
$rs-white: #fff;

$main-font: 'Montserrat', sans-serif;

//Universals
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: $rs-lightblue;
  font-family: $main-font;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

//Navbar
.navbar {
  background-color: $rs-logo-color;
  font-family: $main-font;

  #showModal:hover {
    background-color: #fafafa;
    cursor: pointer;
  }

  .navbar-brand {
    
    .navbar-item {
      padding: 0;

      .logo {
        width: 105px;
        max-height: 100%;
      }
    }    
    .navbar-item:hover {
      border-bottom: none;
    }

    .name-brand {
      font-size: 21px;
      text-decoration: none;
      padding: 0;
      margin-left: 10px;
      font-family: $main-font;
    }

    .title-color {
      color: $rs-dark;
    }
  }

  .navbar-link:hover {
    color: $rs-dark;
  }

  .navbar-item:hover {
    color: $rs-dark;
  }

  .navbar-item.tabs {
    margin: 0;
  }

  .navbar-item.tabs:hover {
    border: none;
    background-color: #fff;
    margin: 0;
  }
}

//Main
main {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: $main-font;

  .hero {
    height: 100%;
    position: relative;

    img.is-background {
      filter: brightness(40%);
    }

    .hero-body {
      display: flex;
      justify-content: center;
      align-items: center;

      .hero-btn {
        background-color: $rs-dark;
        border: none;
        a {
          color: $rs-white;
        }
      }
    }

    .hero-content {
      z-index: 9;
      .title {
        color: $rs-white;
      }
      .subtitle {
        color: $rs-white;
      }
    }
  }

  .about {
    width: 100%;
    position: relative;

    .columns {
      height: 100%;
      margin-top: 0;
    }

    .about-left {
      background-color: $rs-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $rs-white;
      font-size: 3em;
    }

    .about-right {
      background-color: $rs-lightblue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 25px;
      font-size: 1em;
    }
  }

  .overlay .apply-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  }

  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/unsplash-tower.jpg');
    width: 100%;

    .services-title {
      font-size: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $rs-white;
      background-color: $rs-dark;
    }

    .services-content {
      color: $rs-white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      font-size: 0.95em;

      .services-li {
        padding: 5px 0 3px 5px;        
        width: 75%;
        display: flex;
        .icon-separate {
          padding-right: 10px;
        }
      }
    }
  }
}

//Projects
#projects {
  height: 100%;
  width: 100%;
  padding: 0;

  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100%;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 8;
      .item-header {
        display: none;
      }
      .education,
      .commercial,
      .healthcare {
        display: flex;
        font-size: 12px;
        height: inherit;
        width: 100%;
        overflow-y: scroll;
      }

      .public-service {
        display: flex;
        height: inherit;
        width: 100%;
        overflow-y: scroll;
        font-size: 16px;
        p {
          margin-top: 10px;
        }
      }
    }
    .item-header {
      padding: 10px;
    }
    .smaller-font {
      font-size: 16px;
    }

    .education {
      color: $rs-white;
    }
  }
  .rs-dark {
    background-color: $rs-dark;
  }

  .rs-gray {
    background-color: $rs-gray;
  }
  .rs-blue {
    background-color: $rs-badge;
  }
  .rs-lightblue {
    background-color: $rs-lightblue;
  }
  .education {
    display: none;
  }
  .commercial {
    display: none;
  }
  .healthcare {
    display: none;
  }
  .public-service {
    display: none;
  }
}

//Modal
.modal {
  font-family: $main-font;

  .modal-content {
    text-align: center;

    .subtitle {
      font-weight: bold;
    }

    .contact-info {
      margin-top: 10px;
    }

    button {
      background-color: $rs-dark;
      color: $rs-white;
      font-family: $main-font;
    }
  }
  form {
    width: 100%;
  }
}

//Footer
.footer {
  font-family: $main-font;
  background-color: $rs-logo-color;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Media Queries 
@media screen and (max-width: 767px){
  .column-switch {
    display: flex;
    flex-direction: column-reverse;
  }
  .navbar {
    .navbar-brand {
      .name-brand {
        font-size: 18px;
      }
    }
  }

  .about-right {
    p {
      margin-top: 10px;
    }
    p:first-child {
      margin-top: 0;
    }
  }

  .services-content {
    display: block !important;
    p {
      margin-bottom: 10px;
    }
  }

  .services-title {
    display: block !important;
  }

  #projects .gallery-wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px){
  main {
    .about {
      height: 100%;
    }

    .parallax {
      height: 100%;
    }
  }
}
